body {
  font-family: "Poppins", "ans-serif";
}
/*Navbar*/
.navbar-brand {
  font-family: "Poppins";
  font-size: 25px;
  margin-left: 10px;
}
.navbar-brand span {
  color: white;
  margin-left: 10px;
}

.navbar {
  background-color: green;
}
#navul {
  margin-left: 150px;
  font-size: 16px;
}
/* Carousel*/
#athpic {
  opacity: 0.6;
  background-color: #000;
}
#ITFpic {
  opacity: 0.6;
  background-color: #000;
}
#fifapic {
  opacity: 0.6;
  background-color: #000;
}
#fibapic {
  opacity: 0.6;
  background-color: #000;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-caption h5 {
  font-size: 70px;
  text-align: start;
}
.carousel-caption button {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
.carousel-caption button:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}
/*Modal Button*/
.modal-footer button {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
.modal-footer button:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}
.modinstra {
  justify-content: center;
}
/*Services*/
#athlet {
  margin-bottom: 100px;
}
#athbut {
  margin-top: 40px;
}
#fifa {
  margin-bottom: 160px;
  margin-right: 50px;
}
#fifabut {
  margin-top: 50px;
}
#itf {
  margin-bottom: 150px;
  margin-right: 50px;
}
#itfbut {
  margin-top: 50px;
}
#fiba {
  margin-bottom: 80px;
}
#fibabut {
  margin-top: 50px;
}
/*Our Project*/
.ourproject {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
.ourproject:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}
/*Product*/
.qproduct {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
.qproduct:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}
/*Certified*/
.certbut {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
.certbut:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}
/*Card*/
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 3px;
  background-color: rgb(246, 250, 246);
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: center;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 20px;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  justify-content: center;
  text-align: center;
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
/*Title*/
#header,
#projhead,
#Servicehead,
#certhead,
#assurehead {
  font-size: 55px;
  color: green;
}
#headabout {
  font-size: 55px;
  color: green;
  text-align: center;
}
.story {
  color: white;
}
#storcol {
  background-image: url("../img/Landing/ourstory.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#storcol p {
  color: white;
}
#vm h2 {
  color: green;
}
#read-more {
  text-decoration: none;
  font-size: 20px;
}

#footcont {
  background-color: green;
}
#footcont a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
#footsecond a:hover {
  color: lightgreen;
  text-decoration: none;
  margin-right: 10px;
}
#footer li {
  color: white;
  list-style-type: none;
}
#footer p {
  color: white;
}
#footcont p {
  color: white;
}

#footer h4 {
  color: lightgreen;
}
#footnav {
  background-color: green;
}
.footericon img {
  margin-left: 10px;
}
#footfirst,
#footsecond,
#footthird {
  font-size: 10px;
}
#subscription {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
#subscription:hover {
  background-color: white;
  color: darkgreen;
  border: 3px solid darkgreen;
}
#assbutton {
  color: white;
  background-color: rgb(6, 170, 6);
  border: 1px solid darkgreen;
  transition: 1;
}
#assurecon p,
#assurecon h1 {
  color: white;
}
#assbutton:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}

#isocon h2,
#isocon p {
  color: white;
}
#isoc {
  background-image: url("../img/Certifiedbackground.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  justify-content: center;
}
#certcon h1,
#certcon p {
  color: white;
  text-align: start;
}

#isoc p,
#isoc h1 {
  color: white;
  text-align: center;
}
#isoc p {
  font-size: 16px;
}
#assurecon {
  background-color: darkgreen;
  justify-content: center;
}
#productmenu li {
  background-color: green;
}
#certcon {
  background-image: url("../img/Swimmingpool.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
#mh {
  color: white;
  background-color: darkgreen;
  text-align: center;
  border: 5px solid darkgreen;
}
#modalform {
  text-align: start;
}
#mb {
  background-color: white;
  border: 10px solid darkgreen;
}
#mb input,
#mb textarea {
  background-color: white;
  color: black;
  text-align: start;
}
#mb label {
  color: block;
}
#mb select {
  background-color: white;
  color: black;
  text-align: start;
}
#mb ::placeholder {
  color: gray;
  text-align: start;
  font-size: 10px;
  font-style: italic;
}
#mf {
  background-color: darkgreen;
  border: 5px solid darkgreen;
}
/*Galery*/
#gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003c72;
}

#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#navigation li {
  padding: 0;
  margin: 0;
  margin: 5px 0 20px;
}

#navigation li a img {
  display: block;
  border: none;
}

#navigation li a {
  display: flex;
}

#full-picture {
  margin-left: 450px;
  width: 500px;
  height: 450px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
}

#full-picture img {
  width: 100%;
}
